<form method="POST" class="form-signup" role="form" action="/signup">
  <h2 class="form-signup-heading">Sign up for an account</h2>
  <input type="email" class="form-control" id="email" name="email" placeholder="Email address" value="<%= @user.email %>" maxlength=100 required autofocus>
  <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="<%= @user.password %>" maxlength=50 required>
  <button type="submit" class="btn btn-lg btn-success btn-block">Sign up</button>
</form>
