<div class="container">
  <form method="POST" class="form-signin" role="form" action="/login">
    <h2 class="form-signin-heading">Please log in</h2>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email address" maxlength=100 required autofocus>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength=50 required>
      <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
  </form>
</div>
