<% if @user.errors.any? %>
<div>
  <strong>Error:</strong>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
      <% end %>
  </ul>
</div>
<% end %>
<div class="container">
    <form method="POST" class="form-horizontal" action="/signup">
      <h1>Sign up</h1>
        <div class="form-group">
            <label class="control-label col-xs-2" for="email">Email</label>
            <div class="col-xs-5">
              <input type="email" id="email" name="email" value="<%= @user.email %>" maxlength=100 required="required">
            </div>
          </div>
        <div class="form-group">
            <label class="control-label col-xs-2" for="password">Password</label>
            <div class="col-xs-5">
              <input type="password" id="password" name="password" value="<%= @user.password %>" maxlength=50 required="required">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
