<% if @user.errors.any? %>
<div>
  <strong>Error:</strong>
  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
      <% end %>
  </ul>
</div>
<% end %>
<form method="post" action="/signup">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= @user.email %>" maxlength=100 required="required">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="<%= @user.password %>" maxlength=50 required="required">
  </div>
  <div>
    <input type="submit" value="Sign Up">
  </div>
</form>
