body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 60px;
  }
}

.songlist {
  -webkit-flex: initial;
          flex: initial;
  width: 600px;
  min-width: 400px;
  margin: 0 auto;
}
