body {
  padding-top: 60px; }

@media (max-width: 979px) {
  body {
    padding-top: 60px; } }
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px; }
  .container .text-muted {
    margin: 20px 0; }

.cover {
  padding: 100px 0;
  text-align: center; }

.form-signup,
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-signup .form-signup-heading,
  .form-signup .form-login-heading,
  .form-login .form-signup-heading,
  .form-login .form-login-heading {
    margin-bottom: 10px; }
  .form-signup .form-control,
  .form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px; }
  .form-signup .form-control:focus,
  .form-login .form-control:focus {
    z-index: 2; }
  .form-signup input[type="email"],
  .form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .form-signup input[type="password"],
  .form-login input[type="password"] {
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.form-input-text {
  width: 100%; }
