<div class="col-xs-4 col-xs-offset-4">
  <form class="form-horizontal" role="form" method="GET" action="/songs">
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
        Back to all songs
      </button>
    </div>
  </form>
</div>
