<div class="container">
  <div class="cover">
    <h1>Welcome to the music wall</h1>
    <h6><i>(a.k.a. the last.fm wannabe)</i></h6>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form method="GET" action="/signup">
          <button type="submit" class="btn btn-lg btn-success btn-block">Sign up for an account</button>
        </form>
      </div>
    </div>
  </div>
</div>
