<div class="container">
  <div class="cover">
    <h1>Welcome to the music wall</h1>
    <form method="GET" action="/signup">
      <button type="submit" class="btn btn-lg btn-success btn-block">Sign up for an account</button>
    </form>
  </div>
</div>
