<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/javascript/ie10-viewport-bug-workaround.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <title>Music Wall</title>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Music Wall</a>
      </div>
      <div class="navbar-collapse collapse">
        <% unless current_user then %>
          <form class="navbar-form navbar-right" role="form" method="POST" action="/login">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" maxlength=100 required autofocus>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" maxlength=50 required>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
          </form>
        <% else %>
          <form class="navbar-form navbar-right" role="form" method="POST" action="/logout">
            <button type="submit" class="btn btn-danger">
              <span class="glyphicon glyphicon-off"></span>
              Logout
            </button>
          </form>
          <p class="navbar-text navbar-right">Signed in as <%= current_user.email %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%= yield %>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>
</body>
</html>
